
  
  main {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  .title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 1em;
  }
  
  /* Style the side navigation */
  .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }
  
  
  /* Side navigation links */
  .sidebar ul {
    padding-top: 1rem;
    color: white;
  }

  .sidebar li {
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidebar li:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1em;
    padding: 1em;
  }

  .title-text {
    display: flex;
    align-items: center;
    justify-content: center;
   margin-bottom: 1em;
  }

  .word {
    border: 1px solid black;
    background-color: white;
    padding: 0.5em;
    margin: 0;
   align-self: center;
  }

  .word-list {
   display: flex;
   flex-direction: row;
   width: 30vw;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-content: center;
   
  gap: 10px 20px; /* row-gap column gap */

  }

  .fridge {
    border: 1px solid black;
    width: 65vw;
  }

  .container {
    display: flex;
  }